.authentication-block {
  padding: 5% 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.authentication-action {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authentication-action-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.authentication-form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}