.authentication-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.authentication-card {
  position: relative;
  width: 60%;
  height: 70%;
  box-shadow: 1px 1px 10px #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #fff;
}